.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.actions {
    display: flex;
    gap: 10px;
}

.deleteButton, .editButton {
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.deleteButton {
    background-color: hsl(6, 90%, 48%);
    margin-left: 30%;
}

.deleteButton:hover {
    background-color: hsl(31, 80%, 53%);
}

.editButton {
    background-color: hsl(207, 90%, 51%);
    width: 30%;
}

.editButton:hover {
    background-color: #e67e22;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}

.pageSize {
  display: flex;
  align-items: center;
}

.pageSize label {
  margin-right: 10px;
  font-weight: bold;
}

.pageSize select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
    color: red;
    margin-top: 10px;
}

